streamlit==1.47.1
openai-whisper==20250625
gtts==2.3.2
deep-translator==1.11.4
SpeechRecognition==3.10.0
nltk==3.8.1
python-dotenv==1.0.0
transformers==4.54.0
huggingface-hub>=0.34.0
pandas==2.3.1
numpy==2.2.6
scikit-learn==1.7.1
soundfile==0.13.1
librosa==0.11.0
numba==0.61.2
tqdm==4.67.1
torch==2.7.1
tokenizers==0.21.2
tiktoken==0.9.0
GitPython==3.1.45
